<body>
  <div class="container">
    <h1>My awesome notepad</h1>

    <button class="btn" (click)="toggle()"><img src="../assets/plus.png" alt=""></button>
    <div *ngIf="show" class="mt-3 md-form">
      <textarea rows="3" [(ngModel)]="inputData" class="md-textarea form-control"></textarea>
      <button (click)="add()" class="btn btn-primary mt-2 btn-lg">Add</button>
    </div>

    <div *ngIf="todo.length > 0">
      <ul *ngFor="let task of todo; index as i;" class="list-group list-group-flush">
        <li class="list-group-item">
          {{task}}
          <button (click)="delete(i)" class="btn float-right"><img src="../assets/trash.png" alt="trash"></button>
        </li>
      </ul>
    </div>
  </div>
</body>


